In [1]:
# import the required libraries
import pandas as pd

data = pd.read_csv('C:\\Users\\anshul\\PycharmProjects\\scikit-learn\\Datasets\\DTML_Master.csv')

In [3]:
data.head(10)

,CAL_DATE,VNDR_ID,ITEM_NO,LOC,SR_FLAG,CRFA_C,CRFA_R,CRFA_F,CRFA_A,EOQ,...,SPEC_CNG_UNKNWN,DROPIN,PAST_DUES,CUR_INTRN_DAYS,MDL_BLD_RATE,PREV_MNTH_RECORD_COUNT,PREV_MNTH_PERCENT,AVG_SIX_MNTH_CNT,SHRT_PPM,QA_PPM
0,2017-11-06,AD98,A22-72740-000,13,N,S,9,1,2,1,...,4,0.333,0,2,196,1,-75.00,10.8333,0,0
1,2018-04-24,AD98,A22-69882-000,34,N,S,9,1,2,0,...,5,0.000,0,7,107,9,800.00,4.3333,0,0
2,2018-05-07,DN 4,DN EPG150230,65,N,S,9,1,2,1,...,2,0.000,0,13,178,3,50.00,2.0000,0,0
3,2017-10-18,Z582,04-31885-200,65,N,S,9,1,2,1,...,2,0.000,0,12,166,5,0.00,2.5000,0,0
4,2017-12-06,T606,12-20828-000,34,Y,S,9,1,2,5,...,3,0.000,0,2,108,77,6.94,73.0000,15996,118
5,2018-02-19,JK65,A05-19332-000,65,N,S,9,1,2,1,...,2,0.000,0,12,160,17,-58.53,47.8333,0,261
6,2018-04-16,ASC3,A18-64616-318,1,N,S,9,1,2,1,...,10,0.000,1,11,27,56,-27.27,58.1666,2919,547
7,2017-06-21,ASC3,A18-69613-203,1,N,S,9,1,2,1,...,11,0.250,1,11,1,45,36.36,54.6666,7481,274
8,2017-11-13,B682,A12-28714-000,34,N,S,9,1,2,1,...,0,0.000,0,7,110,4,100.00,3.3333,335,0
9,2017-05-24,PYI,A22-69379-002,1,N,S,9,4,2,1,...,1,0.000,0,15,24,0,0.00,0.0000,0,0

In [29]:
# split the data into feature matrix (X) and response vector (y)
X = data.drop('SR_FLAG', axis='columns')
y = data['SR_FLAG']

In [31]:
X.head()
y.head()

0    N
1    N
2    N
3    N
4    Y
Name: SR_FLAG, dtype: object

In [32]:
import numpy as np

# get the list of all the non-numeric columns
X_nonnum = X.select_dtypes(exclude=np.number)

In [33]:
X_nnumcols = list(X_nonnum)
print(X_nnumcols)

['CAL_DATE', 'VNDR_ID', 'ITEM_NO', 'CRFA_C', 'OUTPROC_FLAG', 'FULFILLMENT_RATE_2WKAVG']

<b>Fixing 'FULFILLMENT_RATE_2WKAVG'</b>

In [34]:
X['FULFILLMENT_RATE_2WKAVG'].head()

0    (null)
1    (null)
2         1
3    (null)
4     0.666
Name: FULFILLMENT_RATE_2WKAVG, dtype: object

In [36]:
# identify the unique/distinct set of values for 'FULFILLMENT_RATE_2WKAVG'
# X.groupby('FULFILLMENT_RATE_2WKAVG').nunique()
# len(X['FULFILLMENT_RATE_2WKAVG'].unique()) -- 1002
# 'FULFILLMENT_RATE_2WKAVG' contains deciman numbers along with a null.
# eliminating the nulls from a copy of X
'''
X_mod = X
X_nonnum = X_mod.select_dtypes(exclude=np.number)
X_nnumcols = list(X_nonnum)
print(X_nnumcols)
# modify 'FULFILLMENT_RATE_2WKAVG' to replace NULLS with zeros
X_mod['FULFILLMENT_RATE_2WKAVG'].fillna(0.0, inplace=True)
# checin the non numeric columns again
X_nnumcols = list(X_nonnum)
print(X_nnumcols)
['CAL_DATE', 'VNDR_ID', 'ITEM_NO', 'CRFA_C', 'OUTPROC_FLAG', 'FULFILLMENT_RATE_2WKAVG']
X_mod['FULFILLMENT_RATE_2WKAVG'] = X_mod['FULFILLMENT_RATE_2WKAVG'].str.replace('\(0\)', '0')
X_mod['FULFILLMENT_RATE_2WKAVG'].unique()
array(['(0.000)', '1', '0.666', ..., '0.779', '0.856', '0'], dtype=object)
array(['0', '1', '0.666', ..., '0.879', '0.779', '0.856'], dtype=object)
'''

"\nX_mod = X\nX_nonnum = X_mod.select_dtypes(exclude=np.number)\nX_nnumcols = list(X_nonnum)\nprint(X_nnumcols)\n# modify 'FULFILLMENT_RATE_2WKAVG' to replace NULLS with zeros\nX_mod['FULFILLMENT_RATE_2WKAVG'].fillna(0.0, inplace=True)\n# checin the non numeric columns again\nX_nnumcols = list(X_nonnum)\nprint(X_nnumcols)\n['CAL_DATE', 'VNDR_ID', 'ITEM_NO', 'CRFA_C', 'OUTPROC_FLAG', 'FULFILLMENT_RATE_2WKAVG']\nX_mod['FULFILLMENT_RATE_2WKAVG'] = X_mod['FULFILLMENT_RATE_2WKAVG'].str.replace('\\(0\\)', '0')\nX_mod['FULFILLMENT_RATE_2WKAVG'].unique()\narray(['(0.000)', '1', '0.666', ..., '0.779', '0.856', '0'], dtype=object)\narray(['0', '1', '0.666', ..., '0.879', '0.779', '0.856'], dtype=object)\n"

In [37]:
# replace the '(null)' within 'FULFILLMENT_RATE_2WKAVG' column values with '0'.
X['FULFILLMENT_RATE_2WKAVG'] = X['FULFILLMENT_RATE_2WKAVG'].str.replace('\(null\)', '0')

In [38]:
# check the unique values now
X['FULFILLMENT_RATE_2WKAVG'].unique()

array(['0', '1', '0.666', ..., '0.879', '0.779', '0.856'], dtype=object)

In [40]:
# convert string to decimal
# example
a = '0.856'
b = float(a)
print(a, b)

0.856 0.856

In [41]:
# convert all the string values within 'FULFILLMENT_RATE_2WKAVG' to decimal
X['FULFILLMENT_RATE_2WKAVG'] = X['FULFILLMENT_RATE_2WKAVG'].apply(lambda x: float(x))

In [42]:
# check the unique values now
X['FULFILLMENT_RATE_2WKAVG'].unique()

array([0.   , 1.   , 0.666, ..., 0.879, 0.779, 0.856])

In [43]:
# get the list of all the non-numeric columns
X_nonnum = X.select_dtypes(exclude=np.number)
X_nnumcols = list(X_nonnum)
print(X_nnumcols)

# 'FULFILLMENT_RATE_2WKAVG' is eliminated now

['CAL_DATE', 'VNDR_ID', 'ITEM_NO', 'CRFA_C', 'OUTPROC_FLAG']

<b>Fixing 'CAL_DATE'</b>

In [45]:
# convert CAL_DATE to datetime type
X['CAL_DATE'] = pd.to_datetime(X['CAL_DATE'])

# from X, split the date column to individual columns and append them back to X
X_ext = pd.DataFrame({
    # 'CAL_DATE': X['CAL_DATE'],
    'YEAR': X['CAL_DATE'].dt.year,
    'MONTH': X['CAL_DATE'].dt.month,
    'DAY': X['CAL_DATE'].dt.day,
    'DAY_OF_YEAR': X['CAL_DATE'].dt.dayofyear,
    'WEEK': X['CAL_DATE'].dt.week,
    'WEEK_OF_YEAR': X['CAL_DATE'].dt.weekofyear,
    'DAY_OF_WEEK': X['CAL_DATE'].dt.dayofweek,
    'WEEKDAY': X['CAL_DATE'].dt.weekday,
    'QUARTER': X['CAL_DATE'].dt.quarter
}).join(X)
# .join(X, lsuffix='_left')
# }).join(X, on='CAL_DATE', how='right', lsuffix='_left', rsuffix='_right')

# syntax example for join
# df_a.join(df_b, on='mukey', how='left', lsuffix='_left', rsuffix='_right')

# drop the original CAL_DATE column
# X_ext = X_ext.drop('CAL_DATE', axis='columns')

# reassign extended X back to X to overrite
# X = X_ext

MemoryError:

In [46]:
X_ext.head()

,DAY,DAY_OF_WEEK,DAY_OF_YEAR,MONTH,QUARTER,WEEK,WEEKDAY,WEEK_OF_YEAR,YEAR,CAL_DATE,...,SPEC_CNG_UNKNWN,DROPIN,PAST_DUES,CUR_INTRN_DAYS,MDL_BLD_RATE,PREV_MNTH_RECORD_COUNT,PREV_MNTH_PERCENT,AVG_SIX_MNTH_CNT,SHRT_PPM,QA_PPM
0,6,0,310,11,4,45,0,45,2017,2017-11-06,...,4,0.333,0,2,196,1,-75.00,10.8333,0,0
1,24,1,114,4,2,17,1,17,2018,2018-04-24,...,5,0.000,0,7,107,9,800.00,4.3333,0,0
2,7,0,127,5,2,19,0,19,2018,2018-05-07,...,2,0.000,0,13,178,3,50.00,2.0000,0,0
3,18,2,291,10,4,42,2,42,2017,2017-10-18,...,2,0.000,0,12,166,5,0.00,2.5000,0,0
4,6,2,340,12,4,49,2,49,2017,2017-12-06,...,3,0.000,0,2,108,77,6.94,73.0000,15996,118